<section class="area_listing">
  <a id="<%=area.cached_slug%>"></a>
  <h1><%= area.name %></h1>
  <% if map %>
    <div id="map" style="width:600px; height: 550px; float:right;"></div>
  <% end %>
  <% if area.localities.size > 1 %>
    <ul class="locality_index">
      <%area.localities.each do |locality|%>
        <% next if locality.locations.size.zero? %>
        <li><%=link_to locality.name, "##{locality.cached_slug}"%></li>
      <%end%>
    </ul>
  <% end %>

  <%area.localities.each do |locality|%>
    <% next if locality.locations.size.zero? %>
    <h2><a id="<%=locality.cached_slug%>"></a><%=locality.name%></h2>
    <%locality.locations.each do |location|%>
      <a id="<%=location.cached_slug%>"></a>
      <div class="location">
        <h3><%=link_to_if map, location.name, location%> <%if location.all_ages%><span class="aav" title="All-ages Venue">AAV!</span><%end%><%if !location.url.blank? && !map%> <%=link_to "<span>website</span>".html_safe, location.url, :class => 'location_website_link'%><%end%></h3>
        <h4><%=link_to_unless map, location.address, "https://maps.google.com/maps?q=#{CGI.escape(location.full_street_address)}" %></h4>
        <ul>
          <%location.machines.sort.each do |machine|%>
            <li><%=raw machine.title.name%></li>
          <%end%>
        </ul>
      </div>
    <%end%>
  <%end%>
</section>
