<%= form_for(@title) do |f| %>
  <% if @title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
      <% @title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %> Enter the same way it would appear on IPDB, e.g. <em>The Walking Dead (Pro)</em>
  </div>
  <div class="field">
    <%= f.label :ipdb_id, "IPDB ID" %><br />
    <%= f.number_field :ipdb_id %> If the game ins't on IPDB yet, leave this blank
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
