<!DOCTYPE HTML>
<html>
<head>
<title>Skill Shot | Seattle's Pinball Zine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="csrf-param" content="authenticity_token"/>
  <meta name="csrf-token" content="<%=form_authenticity_token%>"/>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <%= stylesheet_link_tag 'themes/skillshot.min.css'%>

  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>
<body>
<div data-role="page">

  <div data-role="header">
    <h1>Skill Shot</h1>
  </div>

  <div data-role="content">	
    <%= yield %>
  </div>

  <div data-role="footer" data-id="navbar" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <%Area.all.each do |area|%>
        <li><%=link_to( area.name, area, {:class => (@area && @area==area ? 'ui-btn-active ui-state-persist' : '')}) %></li>
        <%end%>
        <li><%=link_to "Titles", active_titles_url, :class => (current_page?(active_titles_url) ? 'ui-btn-active ui-state-persist' : '')%></li>
      </ul>
    </div>
  </div>

</div>

</body>
</html>
