<html>
<body>
<div id="graph-container-2">
</div>
<div id="graph-container-0">
</div>
<div id="graph-container-1">
</div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<%= stylesheet_link_tag "graph"%>
<%= javascript_include_tag "labeler"%>
  <script>
    timeline = <%={
      Time.parse('10/2009').to_i => 'Hooverville reopens',
      Time.parse('10/2010').to_i => 'SPM opens',
      Time.parse('10/2011').to_i => 'Tiger Lounge closes',
      Time.parse('1/2012').to_i => 'Add-A-Ball & Full Tilt Ballard open',
      Time.parse('8/2012').to_i => 'Narwhal opens',
      Time.parse('1/2013').to_i => 'John John\'s opens',
      Time.parse('8/2013').to_i => 'Upper Playfield at SPM opens',
      Time.parse('10/2013').to_i => 'Point Break at AAB opens'

    }.to_json.html_safe%>
    </script>
<%if @action == 'index2'%>
  <script>
    <% ['titles_over_time', 'localities_over_time'].each do |data_over_time| %>
      var <%=data_over_time-%> = <%= instance_variable_get('@'+data_over_time).each do |title, time_series|
        time_series.collect do |pair|
          pair[0] = pair[0].to_i * 1000
          pair
        end
      end.to_json.html_safe
      %>
    <%end%>
    var machines_over_time = <%= @machines_over_time.collect{|pair|pair[0] = pair[0].to_i * 1000; pair}.to_json.html_safe %>
  </script>
<%else%>
<%= javascript_include_tag "stat_data" %>

<%end%>
<%= javascript_include_tag "grapher" %>

</body>
</html>
